@import url("./root.css");
@import url("./fonts.css");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: var(--font-family);
}

a {
  color: unset;
  text-decoration: none;
}

ul {
  list-style: none;
}

button,
input {
  outline: none;
  border: none;
}

.container {
  width: 100%;
  max-width: 1180px;
  margin: 0 auto;
}