:root {
  /* Colors */
  --green: #00ff6f;
  --mint: #d5ffe7;
  --black: #000;
  --white: #fff;
  --grey: #525252;
  --light-grey: #5e5e5e;
  /*----------------*/

  /* Gradients */
  --gd-main: linear-gradient(90deg, rgba(168, 255, 187, 0.5) 0%, rgb(190, 183, 253,0.5) 100%);

  --gd-main: linear-gradient(90deg, #aaffbc 0%, #beb7fd 100%);
  --gd-cards: linear-gradient(90deg, #cbfdc7 0%, #e8ddd4 100%);
  --gd-grey: linear-gradient(90deg, #989898 0%, #181818 100%);
  --gd-blocks: linear-gradient(90deg, #dbe4f0 0%, #e1ffee 100%);
  --gd-green-btn: linear-gradient(180deg, #00ffac 0%, #00ff5d 100%);
  --gd-purple-btn: linear-gradient(180deg, #b05bff 0%, #8807fe 100%);
  /* --------- */
}
